
.homepage {
    background-image: url("../res/wallpapers/full-pixel-purple.jpg");
    background-size: cover;
    background-position: center;
    display:flex;
    flex-direction:column;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
}


.navbar {
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    gap: 1vw;
    margin: 1rem;
}
.navbar div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gameLogo {
    min-height: 3.2rem;
    height: 4vw;
    max-height: 4rem;
    cursor: pointer;
    padding: 0 30px;
} 
.playButtons {
    margin: 1.5vw;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
    background-color: var(--c5);
    font-size: 1.1rem;
    font-family: Righteous;
    color: black;
    cursor: pointer;
    /* align-items: center; */
    /* justify-content: center; */
    text-align: center;
}
.playButtons:hover {
    background-color: white;
}
.settings {
    /* display: grid; */
    /* grid-row: 1; */
    /* width: 1.1rem; */
    background-color: var(--c4);
    border: none;
}


.container {
    width: 90vw;
    max-width: 70rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1rem;
}


footer.mainFooter {
    background-color: var(--c7o);
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    column-gap: 10vw;
    padding: 1rem;
} 
.footerIntro {
    color: var(--c5);
    font-family: Righteous;
}
.footerIntro > h3 {
    font-size: 1.8rem;
    margin: 0 0 1rem 0;
}
.footerIntro > h5 {
    font-size: 1rem;
    margin: 0 0 1rem 0;
}
.websiteSocials * {
    margin-right: 0.6rem;
    width: 2.5em;
    border-radius: 50px;
    filter: brightness(0.90);
}
.websiteSocials *:hover {
    filter: brightness(1);
}
.footerButtons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footerButtons * {
    background-color: transparent;
    border: none;
    color: var(--c5);
    margin: 0.5rem;
    text-decoration: none;
    font-size: 1rem;
    font-family: Righteous;
    cursor: pointer;
    text-align: left;
}
.footerButtons *:hover {
    color: white;
}


.wrongPage {
    font-size: 7vw;
    font-family: Righteous;
    color: white;
    text-align: center;
    opacity: 0.6;
}


::-webkit-scrollbar {
    width: 0.7vw;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: var(--c3); 
}
::-webkit-scrollbar-thumb {
    background: var(--c2); 
}  
::-webkit-scrollbar-thumb:hover {
    background: var(--c4); 
}


@media only screen and (min-width: 1165px) {
    .gameLogo {
        border-right: 2px solid white;
    }
}

@media only screen and (max-width: 980px) {
    .contentContainer {
        flex-direction: column;
        align-items: center;
    }
    .highScores {
        min-width: 80vw;
    }
    .contentParagraphs {
        min-width: 80vw;
    }
    .highScores {
        height: 36vh;
    }
    .mainFooter {
        flex-direction: column;
        align-items: center;
    }
    .footerButtons {
        flex-direction: row;
    }
}