
.contentContainer {
    display: flex;
    justify-content: center;
    gap: 1rem;
} 
.contentParagraphs {
    width: 35vw;
    flex-direction: column;
}
.contentParagraph {
    padding: 10px;
} 
.contentParagraph h1 {
    padding: 0;
    margin: 0;
    font-size: 28px;
    font-family: Righteous;
    color: var(--c5);
} 
.contentParagraph p {
    font-size: 15px;
    font-family: Righteous;
    color: var(--c4);
    margin: 0
} 
.contentParagraph:last-of-type p {
    text-align: left;
} 


.highScores {
    display: grid; /* TODO setup grid for table; grid direction*/
    grid-template-rows: repeat(auto-fill, 30px);
    width: 20vw;
    max-width: 20em;
    background-color: var(--c1);
    overflow-y: auto;
    border-radius: 5px;
    padding: 0.5rem;
    color: white;
}  
.highScoresTitle {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    font-family: Righteous;
    border-bottom: 2px solid var(--c5);
}
.userScoresTable {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4px 0;
} .odd {background-color: var(--c2); }
.highScores::-webkit-scrollbar {
    width: 2px;
}