/*~~~ SINGLE-PLAYER ~~~*/

html {
    height: 100%;
}

body.tetrisSinglePlayerPage {
    margin: 20px;
}

div.game {
    display: flex;
    justify-content: center;
}

.gamePlaygroundPart1 {
    height: 700px;
    width: 170px;
    background-color: var(--c7o);
    border-radius: 15px 0 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.blockHolder {
    width: 170px;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} #ibh {
    width: 120px;
    height: 120px;
} .hrBlockSeparator {
    height: 1px;
    width: 60%;
    border: none;
    background-color: var(--c4);
    padding: 0;
    margin: 0;
}
.gameInfo {
    color: var(--c5);
    font-size: 2em;
    font-family: Righteous;
    font-weight: 1;
    margin: 0;
}
.miniMenu {
    display: flex;
    justify-content: center;
    width: 100px;
}
div.miniMenu h4 {
    margin-bottom: 80px;
} h2.username {
    height: 100px;
    width: 100px;
    color: white;
    font-size: 22px;
    margin-bottom: 10px;
    
} img.miniMenuIcons {
    width: 30px;
    height: 30px;
    margin: 10px;
    background-color: var(--c4);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.gameOverMenu {
    position: relative;
    flex-direction: column;
}

h3#username {
    color: var(--c5);
    font-size: 25px;
    margin: 0;
    justify-content: start;
    
}

#canvasPlay {
    background-image: url("../res/grid.png");
    background-size: cover;                      
    background-repeat: no-repeat;
    background-position: center center;
    background-color: var(--c7o);
    margin: 0 10px;
    height: 700px;
    width: 350px;
} 
#canvasBlockHolder {
    margin: 0;
    padding: 0;
}
.nextBlocks {
    width: 170px;
    height: 700px;
    background-color: var(--c7o);
    border-radius: 0 15px 15px 0;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
} .imgNextBlocks {
    width: 120px;
    height: 120px;
} 


/*~~~ MULTI-PLAYER ~~~*/
